<section class="edicao-time">
  <h1>Edição do Time</h1>

  <%= render 'form', team: @team %>

  <div class="edicao-time-botoes">
    <%= link_to 'Mostrar Time', @team %>
    <%= link_to 'Voltar', teams_path %>
  </div>
</div>
