<div class="wrapper">
  <div class="wrapper-cadastro verify-father">
    <%= image_tag("logo-in-resized.png", alt:"Logo In Junior", class:"logo1") %>
    <%= image_tag("lobo.png", alt:"Lobo", class:"lobo") %>
    <%= render 'form', user: @user %>
  </div>
  <%= button_to "Voltar", users_path, :class => "btn-voltar perfil-btn", :method => :get %>
</div>
