@charset "UTF-8";
/* line 22, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
* {
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
  margin: 0;
  padding: 0;
}

/* line 30, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
body {
  color: #E5E5EC;
  font-family: 'Exo 2', sans-serif;
}

/* line 36, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.logo1 {
  position: relative;
  margin: 30px 0 20px 30px;
  z-index: 90;
}

/* line 42, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
::-webkit-input-placeholder {
  color: #9F9EA3;
  font-family: 'Exo 2', sans-serif;
  font-style: italic;
}

/* line 48, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.wrapper {
  background: #221E46;
  background: -webkit-linear-gradient(top left, #9F9EA3 0%, #221E46 100%);
  background: -moz-linear-gradient(top left, #9F9EA3 0%, #221E46 100%);
  background: -o-linear-gradient(top left, #9F9EA3 0%, #221E46 100%);
  background: linear-gradient(to bottom right, #9F9EA3 0%, #221E46 100%);
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

/* line 60, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.botoes {
  width: 250px;
  margin: 0 auto;
  display: block;
}

/* line 66, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
input {
  display: block;
  appearance: none;
  outline: 0;
  width: 250px;
  border: 1px solid #9F9EA3;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  text-align: center;
  font-size: 18px;
  color: #E5E5EC;
  background-color: rgba(5, 5, 5, 0);
}

/* line 81, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
input:focus {
  background-color: white;
  width: 300px;
  color: #9F9EA3;
  background-color: rgba(5, 5, 5, 0);
  font-weight: 700;
}

/* line 89, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
button {
  appearance: none;
  outline: 0;
  background-color: #E5E5EC;
  border: 0;
  padding: 10px 15px;
  color: #222222;
  border-radius: 10px;
  width: 250px;
  cursor: pointer;
  font-size: 1.3em;
  margin-bottom: 10px;
}

/* line 106, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.pop-up-container {
  position: absolute;
  text-align: center;
  max-width: 300px;
  top: 50%;
  left: 50%;
  z-index: 100;
}

/* line 116, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.notice-container,
.alert-container {
  padding: 10px 0;
  transform: translate(calc(-50%), -50%);
  font-size: 1.25em;
  color: #ffffff;
  border-radius: 5px;
  background-color: red;
  width: 200%;
}

/* line 127, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.notice-cotainer p,
.alert-container p {
  margin-bottom: 5px;
}

/* line 132, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
#error_explanation {
  text-align: center;
}

/* Mudei muita coisa, incluindo tamanho, posição e etc.
	O position relaative serve para interação com o submenu, sendo que a absolute removia a altura da div em relação às sections abaixo.
	Então, botei na relative para não ficar por cima da section.

	Mudei a classe da Logo para logo-IN-Logado, pois ela tem um  comportamento diferente se o usuário está logado ou não, pois o menu
	interage com ela e talz. A logo1 continua funcionando normalmente para as páginas não-logadas.

*/
/* line 146, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.header {
  width: 100%;
  min-height: 100px;
  background-color: rgba(20, 5, 50, 0.5);
  position: relative;
  margin: 0 auto;
  top: 0;
  left: 0;
}

/* line 156, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.logo-IN-Logado {
  margin: 30px 0 20px 30px;
  z-index: 90;
  float: left;
}

/* line 162, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.header-container {
  max-width: 920px;
  margin: 0 auto;
  display: black;
}

/* line 168, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.header li {
  list-style: none;
}

/* line 172, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.header::after, .header::before {
  display: table;
  content: '';
  clear: both;
}

/* ----------------------- 2.1 Menu-Nav, baseado em: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_dropdown_navbar_click */
/* line 181, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.navbar-container {
  max-width: 920px;
  margin: 0 auto;
}

/* line 186, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.navbar {
  margin-top: 40px;
  overflow: hidden;
  font-family: Arial;
  float: right;
}

/* line 193, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.navbar-container::after {
  content: "";
  display: table;
  clear: both;
}

/* line 199, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.navbar-container::after {
  content: "";
  display: table;
  clear: both;
}

/* line 205, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.navbar a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  width: 110px;
  border-radius: 5px 5px 0 0;
}

/* line 217, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.dropdown {
  float: right;
  overflow: hidden;
}

/* line 222, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.dropdown .dropbtn {
  cursor: pointer;
  font-size: 0.75em;
  border: none;
  outline: none;
  color: white;
  padding: 20px 16px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

/* line 234, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #222222;
}

/* line 238, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #f9f9f9;
  width: 110px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

/* line 249, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* line 258, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* line 262, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.show {
  display: block;
}

/*---------------------------código copiado para o menu hambúrguer */
/* line 276, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.bt-menu {
  display: none;
  position: absolute;
  top: 49%;
  left: 25vw;
  margin: auto;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  border-radius: 4px;
  width: 50px;
  height: 50px;
  transition: 0.2s;
}
/* line 291, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.bt-menu:hover, .bt-menu:focus {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
/* line 295, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.bt-menu:active {
  transform: scale(0.9);
}
/* line 299, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.bt-menu:active, .bt-menu:focus {
  outline: none;
}
/* line 303, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.bt-menu .hamburguer {
  width: 32px;
  height: 25px;
  transition: 0.4s;
}
/* line 308, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.bt-menu .hamburguer, .bt-menu .hamburguer .bar {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
/* line 318, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.bt-menu .hamburguer .bar {
  width: 32px;
  height: 5px;
  background: #eeeeee;
  transition: 0.2s;
  outline: 1px solid transparent;
}
/* line 326, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.bt-menu .hamburguer .bar-1 {
  transform: rotate(0) translate3d(0, -10px, 0);
}
/* line 330, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.bt-menu .hamburguer .bar-3 {
  transform: rotate(0) translate3d(0, 10px, 0);
}
/* line 334, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.menu-open .bt-menu .hamburguer {
  transform: rotate(180deg);
}
/* line 337, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.menu-open .bt-menu .hamburguer .bar-1 {
  transform: rotate(45deg) translate3d(0, 0, 0);
}
/* line 338, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.menu-open .bt-menu .hamburguer .bar-2 {
  opacity: 0;
}
/* line 339, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.menu-open .bt-menu .hamburguer .bar-3 {
  transform: rotate(-45deg) translate3d(0, 0, 0);
}

/*-------------------------- Aqui termina o código copiado do drop menu */
/* line 353, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.lobo {
  display: block;
  max-width: 100px;
  margin: 30px auto;
}

/* line 359, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
#login-button {
  margin-bottom: 20px;
}

/* line 363, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.blue-button {
  font-size: 1.4em;
  padding: 5px 15px;
  background-color: rgba(5, 5, 15, 0.5);
  color: #9F9EA3;
  display: block;
  margin: 10px auto;
}

/* line 372, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
#cadastro-button {
  width: 140px;
}

/* line 376, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.blue-long-text {
  /*Serve apenas para reduzir o tamanho do texto do botão pra manter a consistência*/
  font-size: 1em;
  padding: 5px 0;
  background-color: rgba(5, 5, 15, 0.5);
  color: #9F9EA3;
}

/* line 386, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.logo1 {
  margin: 30px 0 20px 30px;
}

/* line 390, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.cadastro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 397, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.lobo {
  display: block;
  max-width: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
}

/* line 404, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.form {
  padding: 50px 0;
}

/* line 408, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.cadastro input {
  display: block;
  outline: 0;
  width: 250px;
  border: 1px solid #9F9EA3;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: #E5E5EC;
  background-color: rgba(5, 5, 5, 0);
}

/* line 423, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.fild input:hover {
  width: 300px;
  color: #9F9EA3;
  background-color: rgba(5, 5, 5, 0);
  font-weight: 700;
  font-style: italic;
}

/* line 431, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.cadastro select {
  display: block;
  outline: 0;
  width: 250px;
  border: 1px solid #9F9EA3;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: #9F9EA3;
  background-color: rgba(5, 5, 5, 0);
  font-style: italic;
}

/* line 448, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.botoes input {
  outline: 0;
  background-color: #E5E5EC;
  border: 0;
  border-radius: 10px;
  width: 250px;
  cursor: pointer;
  font-size: 1.4em;
  padding: 10px 15px;
  color: #222222;
  display: block;
  margin: 10px auto;
  font-style: normal;
}

/* line 463, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.botoes input:focus {
  width: 250px;
  color: #222222;
  background-color: #E5E5EC;
}

/* line 469, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.wrapper-cadastro a {
  outline: 0;
  border: 0;
  border-radius: 10px;
  width: 250px;
  cursor: pointer;
  font-size: 1.5em;
  padding: 10px 15px;
  background-color: rgba(5, 5, 15, 0.5);
  color: #9F9EA3;
  display: block;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
}

/* line 486, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.field-avatar input[type='file'] {
  display: none;
}

/* line 490, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.field-avatar label {
  outline: 0;
  border: 0;
  border-radius: 10px;
  width: 250px;
  cursor: pointer;
  font-size: 1.5em;
  padding: 10px 15px;
  background-color: rgba(5, 5, 15, 0.5);
  color: #9F9EA3;
  display: block;
  margin: 10px auto;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
}

/* line 507, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.file-name {
  outline: 0;
  border-radius: 10px;
  width: 250px;
  height: 100%;
  font-size: 1em;
  padding: 10px 15px;
  color: #9F9EA3;
  background-color: rgba(5, 5, 15, 0.5);
  display: block;
  margin: 10px auto;
  text-align: center;
}

/* line 524, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.perfil {
  width: 100%;
  max-width: 920px;
  margin: 40px auto;
}

/* line 530, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.perfil-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  background-color: rgba(20, 5, 50, 0.3);
  border-radius: 20px;
  margin: 0 auto;
}

/* line 539, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.perfil-foto {
  margin-right: 0;
  float: left;
  margin: 30px;
}

/* line 545, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.perfil-container::before,
.perfil-container::after {
  content: "";
  display: table;
  clear: both;
}

/* line 552, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.perfil-foto button {
  display: block;
  margin: 10px auto;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 560, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.foto {
  max-width: 250px;
}

/* line 564, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.perfil-dados {
  float: left;
  margin-left: 15%;
}

/* line 569, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.perfil-nome::before,
.perfil-nome::after {
  content: "";
  display: table;
  clear: both;
}

/* line 576, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.perfil-nome {
  margin: 20px auto;
  text-align: center;
}

/* line 581, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.perfil-email {
  background-color: #eeeeee;
  color: #222222;
  margin: 10px auto;
  text-align: center;
  padding: 20px;
  border-radius: 0 15px 0 15px;
}

/* line 590, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.perfil-email::before,
.perfil-email::after {
  content: "";
  display: table;
  clear: both;
}

/* line 597, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.perfil-botoes a {
  text-decoration: none;
  color: #222222;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
}

/* line 604, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.perfil-voltar a {
  outline: 0;
  border: 0;
  border-radius: 10px;
  width: 250px;
  cursor: pointer;
  font-size: 1.5em;
  padding: 10px 15px;
  background-color: rgba(5, 5, 15, 0.5);
  color: #9F9EA3;
  display: block;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
}

/* ------------------------ 6.0 Index Usuário */
/* line 626, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.index-users h1 {
  font-size: 3em;
  margin: 50px auto;
  text-align: center;
}

/* line 632, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.index-users {
  width: 920px;
  display: block;
  margin: 0 auto;
}

/* line 638, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.users-bar-container {
  background-color: #222222;
  color: #E5E5EC;
  width: 920px;
  font-size: 1.5em;
  display: inline-table;
  font-weight: 400;
}

/* line 647, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.users-bar-container th {
  font-weight: 400;
}

/* line 651, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.user-body {
  width: 920px;
  display: inline-table;
  appearance: none;
  outline: 0;
  background-color: #E5E5EC;
  border: 0;
  padding: 10px 15px;
  color: #222222;
  border-radius: 10px;
  font-size: 1em;
  margin-top: 30px;
}

/* line 665, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.button-new-user a {
  display: none;
}

/* line 675, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.perfil-mutavel {
  width: 100%;
}

/* line 681, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.perfil-opcoes {
  width: 90%;
  margin: 30px auto;
  margin-top: 50px;
}

/* line 687, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.projetos {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 15px 0;
  display: block;
  text-align: center;
  padding: 10px 0;
  border-radius: 0 20px;
  color: #222222;
  float: left;
}

/* line 699, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.tarefa {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 15px 0;
  display: block;
  text-align: center;
  padding: 10px 0;
  border-radius: 0 20px;
  color: #222222;
  float: left;
}

/* line 711, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.rendimento {
  width: 100%;
  background-color: #A85A67;
  margin: 15px 0;
  display: block;
  text-align: center;
  padding: 10px 0;
  border-radius: 0 20px;
  color: #222222;
  float: left;
}

/* line 724, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.proj h2 {
  width: 240px;
  float: left;
  margin-top: 30px;
}

/* line 730, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.proj-and1 h3 {
  width: 240px;
  float: left;
  margin-bottom: 30px;
  font-weight: 400;
}

/* line 737, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.proj-and2 h3 {
  width: 240px;
  float: left;
  font-weight: 400;
  margin-bottom: 30px;
}

/* line 744, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.tar h2 {
  width: 240px;
  float: left;
  margin-top: 30px;
}

/* line 750, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.tar-and1 h3 {
  width: 240px;
  float: left;
  margin-bottom: 30px;
  font-weight: 400;
}

/* line 757, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.tar-and2 h3 {
  width: 240px;
  float: left;
  font-weight: 400;
  margin-bottom: 30px;
}

/* line 764, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.rend h2 {
  width: 240px;
  float: left;
  margin-top: 30px;
}

/* line 770, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.rend h4 {
  padding: 20px;
  font-size: 1.4em;
}

/* line 776, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.rend-and1 h3 {
  width: 240px;
  float: left;
  font-weight: 400;
  font-size: 2em;
  padding-top: 10px;
}

/* line 784, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.rend-and2 {
  width: 240px;
  float: left;
}

/* line 789, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.rend-and2 h3 {
  font-weight: 400;
  margin-bottom: 30px;
}

/* line 794, /home/samiry/Área de Trabalho/Grupo_Alfa/Projeto_Final_IN/app/assets/stylesheets/style.scss */
.rend-and3 h3 {
  width: 240px;
  float: left;
  font-weight: 400;
  font-size: 2em;
  padding-top: 10px;
}
