.cascade {
  box-sizing: unset;
  position: absolute;
  top: calc(49% - 50px);
  left: 25vw;
  transition: all 500ms cubic-bezier(0.690, 0.005, 0.435, 1.000);
  width: 200px; 
  height: 25px; 
  background: #2E2E2E; 
  margin-bottom: 3px; 
  color: #eeeeee; 
  list-style-type: none; 
  padding: 14px 20px 8px; 
}

span {
  opacity: 1; 
  transition: all 500ms cubic-bezier(0.690, 0.005, 0.435, 1.000);
}


li:nth-child(1){ top: 100px; z-index: 9;} 
li:nth-child(2){ top: 150px; z-index: 8;} 
li:nth-child(3){ top: 200px; z-index: 7;} 
li:nth-child(4){ top: 250px; z-index: 6;} 
li:nth-child(5){ top: 300px; z-index: 5;} 
//li:nth-child(6){ top: 350px; z-index: 4;} 
//li:nth-child(7){ top: 400px; z-index: 3;}
//li:nth-child(8){ top: 450px; z-index: 2;} 
//li:nth-child(9){ top: 500px; z-index: 1;} 


.loading {
  visibility: hidden;
}

.loading li {
  top: 50px;
}

.loading li span { 
  opacity: 0; 
}

/* styling */
ul {position: relative;}


li:hover {
  background: #00CCFF;
}

.cascade-ul li a{
  text-decoration: none;
  color: #eeeeee;
}