*{
  font-family: 'Exo 2', sans-serif;
  margin: 0;
  padding: 0;
}

// Index Usuario


.user-body{
  position: relative;
}

.user-foto img{
  width: 150px;
  height: 150px;
}

.nome-email{
  text-align: center;
}

.user-nome{
  margin-bottom: 50px;
}

.user-nome a{
  color: #222222;
}

.user-body-nomemail{
  width: 275px;
}

.user-cargo{
  width: 230px;
  text-align: center;
}

.user-button-edit img{
  width: 30px;
  position: absolute;
  right: 5px;
  top: 5px;;
}

.user-button-delete img{
  width: 20px;
  position: absolute;
  right: 10px;
  bottom: 10px;;
}

.user-times{
  width: 230px;
  text-align: center;
}

.user-bar-foto{
  width: 165px;
  padding-left: 15px;
}

.user-bar-nomemail{
  width: 280px;
}

.user-bar-cargos{
  width: 230px;
}

.user-bar-times{
  width: 245px;
  padding-right: 15px;
}

// New Time


.new-time{
  max-width: 920px;
  margin: 0 auto;
  display: block;
  text-align: center;

}

.new-time h1{
  display: block;
  margin: 50px auto;
  font-weight: 400;
  font-size: 3em;
}

.new-user-container{
  max-width: 500px;
  background-color: rgba(20,5,50,0.3);
	border-radius: 20px;
	margin: 0 auto;
  padding: 50px;
}

#team_name{
  margin-bottom: 50px;
}

#user_id{
  display: block;
  margin: 0 auto 50px auto;
  width: 250px;
  padding: 10px 15px;
  text-align: center;
  font-size: 1.2em;
  color: #9F9EA3;
  background-color: rgba(5,5,5,0);
  border: 1px solid #9F9EA3;
  border-radius: 10px;
  font-style: italic;
}

.new-time .actions input{
  background-color: #E5E5EC;
  color: #222222;
  cursor: pointer;
}

.new-time .actions input:hover{
  width: 250px;
}

.new-time a{
  outline: 0;
  border: 0;
  border-radius: 10px;
  width: 250px;
  cursor: pointer;
  font-size: 1.5em;
  padding: 10px 15px;
  background-color: rgba(5,5,15,0.5);
  color:#9F9EA3;
  display: block;
  margin: 50px auto 0 auto;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
}

// Show do Time

.new-time-criado{
  margin: 50px auto 0;
}


.new-time-criado-container{
  max-width: 800px;
  margin: 0 auto;
  display: block;
  text-align: center;
  background-color: rgba(20,5,50,0.3);
	border-radius: 20px;
  padding: 50px;
  position: relative;
}

.new-time-criado-container p{
  font-size: 1.5em;
}

.new-time-criado-container img{
  width: 100px;

}

.new-time-criado-container strong{
  font-size: 2.2em;
  font-weight: 400;
}

.new-time-criado-botao img{
  width: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.new-time-criado-voltar{
  max-width: 400px;
  margin: 0 auto;
  display: block;
}

.new-time-criado-voltar a{
  outline: 0;
  border: 0;
  border-radius: 10px;
  width: 250px;
  cursor: pointer;
  font-size: 1.5em;
  padding: 10px 15px;
  background-color: rgba(5,5,15,0.5);
  color:#9F9EA3;
  display: block;
  margin: 50px auto 0 auto;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
}

.nome-membros-time{
  background-color: #E5E5EC;
  color: #222222;
  margin: 20px auto 0;
  text-align: left;
  padding: 20px;
  border-radius: 0 15px 0 15px;
  width: 500px;
  position: relative;
}

.nome-membros-time a{
  text-decoration: none;
  color: #222222;
}

.nome-membros-time p{
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

// Edicao de Time

.edicao-time{
  max-width: 400px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.edicao-time h1{
  display: block;
  margin: 50px auto;
  font-weight: 400;
  font-size: 3em;
}

.edicao-time .actions input{
  background-color: #E5E5EC;
  color: #222222;
}

.edicao-time-botoes a{
  outline: 0;
  border: 0;
  border-radius: 10px;
  width: 250px;
  cursor: pointer;
  font-size: 1.5em;
  padding: 10px 15px;
  background-color: rgba(5,5,15,0.5);
  color:#9F9EA3;
  display: block;
  margin: 50px auto 0 auto;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
}

//  Index times

.index-times{
  max-width: 920px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.index-times-container{
  max-width: 600px;
  margin: 50px auto;
  position: relative;
  display: block;
  background-color: rgba(20,5,50,0.3);
  border-radius: 20px;
  padding: 30px 50px 50px;
}

.index-times h1{
  display: block;
  margin: 50px auto;
  font-weight: 400;
  font-size: 3em;
}

.index-times-time{
  background-color: #E5E5EC;
  margin: 20px auto 0 auto;
  text-align: center;
  padding: 20px;
  border-radius: 0 15px 0 15px;
  display: inline-block;
  position: relative;
  width: 495px;
}

.index-times-time a{
  color: #222222;
  font-size: 1.3em;
}

.index-times .editar img{
  width: 40px;
  position: absolute;
  right: 70px;
  top: 50%;
  transform: translateY(-50%);
}

.index-times .excluir img{
  width: 35px;
  position: absolute;
  right: 20px;
  bottom: 6px;
  top: 50%;
  transform: translateY(-50%);
}

.index-times-novo{
  outline: 0;
  border: 0;
  border-radius: 10px;
  width: 250px;
  cursor: pointer;
  font-size: 1.5em;
  padding: 10px 15px;
  background-color: rgba(5,5,15,0.5);
  color:#9F9EA3;
  display: block;
  margin: 50px auto 0 auto;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
}

//Index Projetos

.trello-board-img{
  display: none;
}

.trello-img{
  width: 100px;
}

.index-proj{
  max-width: 920px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.index-proj h1{
  margin: 50px auto 0;
  display: block;
  font-weight: 400;
  font-size: 3em;
}

.index-proj-container{
  max-width: 920px;
  margin: 50px auto;
  position: relative;
  display: block;
  border-radius: 20px;
}

.proj-button-edit img{
  width: 35px;
  position: absolute;
  right: 70px;
  top: 50%;
  transform: translateY(-50%);
}

.proj-button-delete img{
  width: 25px;
  position: absolute;
  right: 20px;
  bottom: 6px;
  top: 50%;
  transform: translateY(-50%);
}

.index-proj-ind{
  width: 920px;
  display: inline-table;
  appearance: none;
  outline: 0;
  background-color: #E5E5EC;
  border: 0;
  padding: 10px 15px;
  color: #222222;
  border-radius: 10px;
  font-size: 1em;
  margin-top: 30px;
  position: relative;
}

.proj-bar-container{
  background-color: #222222;
  color: #E5E5EC;
  width: 920px;
  font-size: 1.5em;
  display: inline-table;
  font-weight: 400;
}

.index-proj-ind a{
  color: #222222;
}

.proj-bar-container th{
  font-weight: 400;
}

.proj-bar-nome{
  width: 190px;
  padding-left: 15px;

}

.proj-bar-prazo{
  width: 200px;
}

.proj-bar-preco{
  width: 120px;
}

.proj-bar-gerente{
  width: 245px;
  padding-right: 15px;
}

.proj-bar-vazio{
  width: 300px;
  text-align: left;
  padding-left: 20px;
}

.proj-ind-name{
  text-align: left;
  width: 175px;
}

.proj-ind-data{
  text-align: center;
  width: 120px;
}

.proj-ind-preco{
  width: 150px;
  text-align: center;
}

.proj-ind-gerente{
  text-align: center;
  width: 160px;
}

.proj-ind-trello{
  width: 180px;
  text-align: center;
}

// Novo Projeto

.new-proj{
  max-width: 920px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.new-proj h1{
  margin: 50px auto;
  display: block;
  font-weight: 400;
  font-size: 3em;
}

.new-proj-container{
  position: relative;
  display: block;
  max-width: 800px;
  background-color: rgba(20, 5, 50, 0.3);
  border-radius: 20px;
  margin: 0 auto 50px;
  padding: 30px;
}

.new-proj-container input{
  margin: 20px auto;
}

.new-proj-container select{
  margin: 20px;
}

#team_id{
  display: block;
  margin: 20px auto;
  width: 250px;
  padding: 10px 15px;
  text-align: center;
  font-size: 1.2em;
  color: #9F9EA3;
  background-color: rgba(5,5,5,0);
  border: 1px solid #9F9EA3;
  border-radius: 10px;
  font-style: italic;
}

#gerente_id{
  display: block;
  margin: 20px 60px;
  width: 250px;
  padding: 10px 15px;
  text-align: center;
  font-size: 1.2em;
  color: #9F9EA3;
  background-color: rgba(5,5,5,0);
  border: 1px solid #9F9EA3;
  border-radius: 10px;
  font-style: italic;
  float: left;
}

#pmo_id{
  display: block;
  margin: 20px 60px;
  width: 250px;
  padding: 10px 15px;
  text-align: center;
  font-size: 1.2em;
  color: #9F9EA3;
  background-color: rgba(5,5,5,0);
  border: 1px solid #9F9EA3;
  border-radius: 10px;
  font-style: italic;
  float: right;
}

#tarefa_id{
  display: block;
  margin: 20px auto;
  width: 250px;
  padding: 10px 15px;
  text-align: center;
  font-size: 1.2em;
  color: #9F9EA3;
  background-color: rgba(5,5,5,0);
  border: 1px solid #9F9EA3;
  border-radius: 10px;
  font-style: italic;
}

.new-proj-prazo h2{
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 0;
}

.new-proj-prazo select{
  display: inline-block;
  margin: 10px 20px;
  padding: 10px 15px;
  text-align: center;
  font-size: 1.2em;
  color: #9F9EA3;
  background-color: rgba(5,5,5,0);
  border: 1px solid #9F9EA3;
  border-radius: 10px;
  font-style: italic;
}

#project_content{
  background-color: #E5E5EC;
  color: #222222;
  border-radius: 20px;
  padding: 20px;
}

.new-proj-container .botoes input{
  margin: 20px auto;
}

// Projeto

.suma-trello{
  display: none;
}

.projeto{
  max-width: 920px;
  margin: 0 auto;
  display: block;
}

.projeto h1{
  margin: 50px auto;
  display: block;
  font-weight: 400;
  font-size: 3em;
}

.projeto-container{
  position: relative;
  display: block;
  max-width: 800px;
  background-color: rgba(20, 5, 50, 0.3);
  border-radius: 20px;
  margin: 50px auto;
  padding: 30px;
}

.projeto-container input{
  margin: 20px auto;
}

.projeto-titulo{
  font-size: 3em;
  text-align: center;
}

.projeto-prazo{
  font-size: 1.5em;
  float: left;
  margin: 30px 0;
  width: 50%;
}

.projeto-preco{
  font-size: 1.5em;
  text-align: right;
  float: right;
  margin: 30px 0;
  width: 50%;
}

.projeto-detalhes{
  max-width: 680px;
  margin: 0 auto;
}

.projeto-gerente{
  font-size: 1.5em;
  float: left;
  margin: 30px 0;
  width: 50%;
}

.projeto-pmo{
  font-size: 1.5em;
  float: right;
  margin: 30px 0;
  width: 50%;
  text-align: right;
}

.projeto-admin{
  max-width: 680px;
  margin: 0 auto;
}

.projeto-descri{
  float: left;
  font-size: 1.2em;
  text-align: justify;
  margin: 30px;
}

.projeto-time{
  width: 700px;
  margin: 30px;
  font-size: 1.5em;
  float: left;
  text-align: center;
}

.projeto-tarefas{
  margin: 30px;
  font-size: 1.5em;
}

.proj-tarefa{
  width: 680px;
  display: inline-table;
  appearance: none;
  outline: 0;
  background-color: #E5E5EC;
  border: 0;
  padding: 10px 15px;
  color: #222222;
  border-radius: 10px;
  font-size: 1em;
  margin-top: 30px;
  position: relative;
}

.proj-tarefa a{
  color: #222222;
  float: right;
}

.trello-img-proj{
  width: 100px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.projeto-nova-tarefa{
  background-color: rgba(5,5,5,0);
  border-radius: 20px;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

#assignmentproj_name{
  display: block;
  appearance: none;
  outline: 0;
  width: 250px;
  border: 1px solid #9F9EA3;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  text-align: center;
  font-size: 18px;
  color: #E5E5EC;
  background-color: rgba(5,5,15,0);
}

#add_task{
  background-color: rgba(5,5,15,0.5)
}

.projeto-feito{
  display: none;
}

.proj-button-edit1 img{
  width: 50px;
  position: absolute;
  right: 20px;
  top: 40px;
}

// Edicao de tarefa

.edit-tarefa{
  text-align: center;
  max-width: 920px;
  margin: 0 auto;
  display: block;
}

.edit-tarefa-container{
  display: block;
  background-color: rgba(20, 5, 50, 0.3);
  border-radius: 20px;
  margin: 50px auto;
  padding: 30px;
  max-width: 400px;
}

.edit-tarefa-h1{
  text-align: center;
  max-width: 920px;
  margin: 0 auto;
  display: block;
}

.edit-tarefa-h1 h1{
  margin: 50px auto;
  display: block;
  font-weight: 400;
  font-size: 3em;
}

.field-feito{
  font-size: 1.3em;
  margin-bottom: 50px;
}


// Diretorias

.diretoria{
  width: 920px;
  margin: 0 auto;
  display: block;
  text-align: center;
  min-height: 100vh;
  padding-bottom: 50px;
}

.diretoria h1{
  margin: 50px auto;
  display: block;
  font-weight: 400;
  font-size: 3em;
}

.diretoria-container{
  display: block;
  background-color: rgba(20, 5, 50, 0.3);
  border-radius: 20px;
  margin: 50px auto;
  padding: 30px;
  max-width: 400px;
}

.Diretor-nav{
  background-color: #E5E5EC;
  color: #222222;
  margin: 20px auto;
  text-align: center;
  padding: 20px;
  border-radius: 0 15px 0 15px;
  width: 300px;
}

.Assessor-nav{
  background-color: #E5E5EC;
  color: #222222;
  margin: 20px auto;
  text-align: center;
  padding: 20px;
  border-radius: 0 15px 0 15px;
  width: 300px;
}
