//
//
// Sumario:
//
//
// 1.0 Geral
// 2.0 Cadastro
// 3.0 Index usuario
// 4.0 Perfil



// 1.0 Geral

*{
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
  margin: 0;
  padding: 0;
}

body{
  color: #E5E5EC;
}

.wrapper{
  background: #221E46;
  background: -wenkit-linear-gradient(top left, #9F9EA3 0%, #221E46 100%);
  background: -moz-linear-gradient(top left, #9F9EA3 0%, #221E46 100%);
  background: -o-linear-gradient(top left, #9F9EA3 0%, #221E46 100%);
  background: linear-gradient(top left, #9F9EA3 0%, #221E46 100%);
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}


// 2.0 Cadastro


.logo1{ // logo superior esquerdo
  margin: 30px 0 20px 30px;
}

.cadastro{ // section geral do cadastro
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lobo{ // imagem a cima do cadastro
  display: block;
  max-width: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.form{ // area principal do formulario (de nome a criar usuario)
  padding: 30px 0;
}

.cadastro input{ // todos os inputs da area cadastro
  display: block;
  outline: 0;
  width: 250px;
  border: 1px solid #9F9EA3;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: #E5E5EC;
  background-color: rgba(5,5,5,0);
}

.fild input:hover{
  width: 300px;
  color: #9F9EA3;
  background-color: rgba(5,5,5,0);
  font-weight: 700;
  font-style: italic;
}

.cadastro select{ // todo select da area de cadastro
  display: block;
  outline: 0;
  width: 250px;
  border: 1px solid #9F9EA3;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: #9F9EA3;
  background-color: rgba(5,5,5,0);
  font-style: italic;
}


.botoes input{ // botao de criar usuario
  outline: 0;
  background-color: #E5E5EC;
  border: 0;
  border-radius: 10px;
  width: 250px;
  cursor: pointer;
  font-size: 1.4em;
  padding: 10px 15px;
  color: #222222;
  display: block;
  margin: 10px auto;
  font-style: normal;
}

.botoes input:focus{
  width: 250px;
  color:#222222;
  background-color: #E5E5EC;
}

.wrapper-cadastro a{ // botao de voltar da area de cadastro
  outline: 0;
  border: 0;
  border-radius: 10px;
  width: 250px;
  cursor: pointer;
  font-size: 1.5em;
  padding: 10px 15px;
  background-color: rgba(5,5,15,0.5);
  color:#9F9EA3;
  display: block;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
}

.field-avatar input[type='file']{ // botao original de selecionar imagem
  display: none;
}

.field-avatar label{ // area de selecionar imagem
  outline: 0;
  border: 0;
  border-radius: 10px;
  width: 250px;
  cursor: pointer;
  font-size: 1.5em;
  padding: 10px 15px;
  background-color: rgba(5,5,15,0.5);
  color:#9F9EA3;
  display: block;
  margin: 10px auto;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
}

.file-name{ // area de confirmacao de iamgem selecionada
  outline: 0;
  border-radius: 10px;
  width: 250px;
  height: 100%;
  font-size: 1em;
  padding: 10px 15px;
  color: #9F9EA3;
  background-color: rgba(5,5,15,0.5);
  display: block;
  margin: 10px auto;
  text-align: center;
}

// 3.0 Index Usuario

.index-users h1{ // "titulo" da pagina
  font-size: 3em;
  margin: 50px auto;
  text-align: center;
}

.index-users{ // area geral dos perfis
  width: 920px;
  display: block;
  margin: 0 auto;
}

.users-bar-container{ // area dos titulos das categorias
  background-color: #222222;
  color: #E5E5EC;
  width: 920px;
  font-size: 1.5em;
  display: inline-table;
  font-weight: 400;
}

.users-bar-container th{ // font dos titulos das categorias
  font-weight: 400;
}

.user-body{ // area de cada usuario
  width: 920px;
  display: inline-table;
  appearance: none;
  outline: 0;
  background-color: #E5E5EC;
  border: 0;
  padding: 10px 15px;
  color: #222222;
  border-radius: 10px;
  font-size: 1em;
  margin-top: 30px;
}

.button-new-user a{ // botao de novo usuario
  font-size: 1.4em;
  padding: 5px 15px;
  background-color: #222222;
  border-radius: 10px;
  color: #E5E5EC;
  text-decoration: none;
  float: right;
  margin-top: 30px;
}

//  4.0 perfil

.perfil-container{ //regiao que contem as caracteristicas do perfil
	width: 920px;
	background-color: rgba(20,5,50,0.3);
	border-radius: 20px;
	margin: 50px auto;
}

.perfil-foto{ //regiao da foto e dos botoes embaixo dela
	width: 230px;
	margin-left: 30px;
  float: left;
}

.foto{
	width: 230px;
	margin-bottom: 10px;
	padding: 30px 0;
}

.perfil-foto button{
	margin: 0 auto;
	display: block;
	margin-bottom: 10px;
	max-width: 230px;
	background-color: rgba(255,255,255,0.5);
}

.perfil-foto button a{
  text-decoration: none;
  color: #222222;
}

.perfil-atrib{ // regiao ao lado da foto
	width: 600px;
	height: 405px;
	margin-left: 30px;
  display: inline-table;
  position: relative;

}

.perfil-nome{ // regiao dentro de perfil-atrib em que aparece o nome do usuario
	width: 300px;
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
}

.email-container{ // regiao dentro de perfil-atrib em que aparece o email do usuario
	max-width: 600px;
	background-color: rgba(255,255,255,0.5);
	text-align: center;
	padding: 30px;
	border-radius: 0 20px;
	color: #222222;
	margin-bottom: 30px;
  margin-top: 30px;
}

.cargos-container{ // regiao dentro de perfil-atrib em que aparecem os cargos do usuario
	width: 600px;
	background-color: rgba(255,255,255,0.5);
	text-align: center;
	padding: 30px;
	border-radius: 0 20px;
  position: absolute;
  bottom: 0;
}

.perfil-email h3{ //texto dentro de email-container
	font-family: 'Exo 2', sans-serif;
	font-weight: 400;
	font-size: 1.3em;
	color: #222222;
}

.cargos p{ // texto dentro de cargos-container
	font-family: 'Exo 2', sans-serif;
	font-weight: 400;
	font-size: 1.5em;
	margin-bottom: 10px;
	color: #222222;
}

.perfil-botoes a{ //regiao inferior do perfil, com tarefas e rendimentos
	text-decoration: none;
	color: #222222;
	font-family: 'Exo 2', sans-serif;
	font-weight: 400;
}

.perfil-voltar a{ // botao "voltar" do perfil
  outline: 0;
  border: 0;
  border-radius: 10px;
  width: 250px;
  cursor: pointer;
  font-size: 1.5em;
  padding: 10px 15px;
  background-color: rgba(5,5,15,0.5);
  color:#9F9EA3;
  display: block;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
}





//------------------ ignorar daqui para baixo
.perfil-mutavel{

	width: 100%;
}


.perfil-opcoes{
	width: 90%;
	margin: 30px auto;
	margin-top: 50px;
}

.projetos{
	width: 100%;
	background-color: rgba(255,255,255,0.5);
	margin: 15px 0;
	display: block;
	text-align: center;
	padding: 10px 0;
	border-radius: 0 20px;
	color: #222222;
	float: left;
}

.tarefa{
	width: 100%;
	background-color: rgba(255,255,255,0.5);
	margin: 15px 0;
	display: block;
	text-align: center;
	padding: 10px 0;
	border-radius: 0 20px;
	color: #222222;
	float: left;
}

.rendimento{
	width: 100%;
	background-color: #A85A67;
	margin: 15px 0;
	display: block;
	text-align: center;
	padding: 10px 0;
	border-radius: 0 20px;
	color: #222222;
	float: left;
}






.proj h2{
	width: 240px;
	float: left;
	margin-top: 30px;
}

.proj-and1 h3{
	width: 240px;
	float: left;
	margin-bottom: 30px;
	font-weight: 400;
}

.proj-and2 h3{
		width: 240px;
		float: left;
		font-weight: 400;
		margin-bottom: 30px;
}

.tar h2{
	width: 240px;
	float: left;
	margin-top: 30px;
}

.tar-and1 h3{
	width: 240px;
	float: left;
	margin-bottom: 30px;
	font-weight: 400;
}

.tar-and2 h3{
		width: 240px;
		float: left;
		font-weight: 400;
		margin-bottom: 30px;
}

.rend h2{
	width: 240px;
	float: left;
	margin-top: 30px;
}

.rend h4{
	padding: 20px;
	font-size: 1.4em;
}


.rend-and1 h3{
	width: 240px;
	float: left;
	font-weight: 400;
	font-size: 2em;
	padding-top: 10px;
}

.rend-and2{
	width: 240px;
	float: left;
}

.rend-and2 h3{
	font-weight: 400;
	margin-bottom: 30px;
}

.rend-and3 h3{
	width: 240px;
	float: left;
	font-weight: 400;
	font-size: 2em;
	padding-top: 10px;
}
