//
//
// Sumario:
//
//
// 1.0 Geral

// 2.0 Header
// 	2.1 Menu-Nav

// 3.0 Login

// 4.0 Cadastro

// 5.0 Perfil

// 6.0 Index Usuário


//------------------------------------ 1.0 Geral
*
{
	box-sizing: border-box;
	font-family: 'Exo 2', sans-serif;
	margin: 0;
	padding: 0;
}

body{
	color: #E5E5EC;
	font-family: 'Exo 2', sans-serif;
}


.logo1{
	position: relative;
	margin: 30px 0 20px 30px;
	z-index: 90;
}

::-webkit-input-placeholder {
	color: #9F9EA3;
	font-family: 'Exo 2', sans-serif;
	font-style: italic;
}

.wrapper{
  background: #221E46;
  background: -webkit-linear-gradient(top left, #9F9EA3 0%, #221E46 100%);
  background: -moz-linear-gradient(top left, #9F9EA3 0%, #221E46 100%);
  background: -o-linear-gradient(top left, #9F9EA3 0%, #221E46 100%);
  background: linear-gradient(to bottom right, #9F9EA3 0%, #221E46 100%);
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.botoes{
  width: 250px;
  margin: 0 auto;
  display: block;
}

input{
	display: block;
	appearance: none;
	outline: 0;
	width: 250px;
	border: 1px solid #9F9EA3;
	border-radius: 10px;
	padding: 10px 15px;
	margin: 0 auto 10px auto;
	text-align: center;
	font-size: 18px;
	color: #E5E5EC;
    background-color: rgba(5,5,5,0);
}

input:focus{
	background-color: white;
	width: 300px;
	color: #9F9EA3;
	background-color: rgba(5,5,5,0);
	font-weight: 700;
}

button{
	appearance: none;
	outline: 0;
	background-color: #E5E5EC;
	border: 0;
	padding: 10px 15px;
	color: #222222;
	border-radius: 10px;
	width: 250px;
	cursor: pointer;
	font-size: 1.3em;
  margin-bottom: 10px;
}


//---------------------------- 2.0 Header

/* Mudei muita coisa, incluindo tamanho, posição e etc.
	O position relaative serve para interação com o submenu, sendo que a absolute removia a altura da div em relação às sections abaixo.
	Então, botei na relative para não ficar por cima da section.

	Mudei a classe da Logo para logo-IN-Logado, pois ela tem um  comportamento diferente se o usuário está logado ou não, pois o menu
	interage com ela e talz. A logo1 continua funcionando normalmente para as páginas não-logadas.

*/
.header{
	width: 100%;
	min-height: 100px;
	background-color: rgba(20,5,50,0.5);
	position: relative;
	margin: 0 auto;
	top: 0;
	left: 0;
}

.logo-IN-Logado {
	margin: 30px 0 20px 30px;
	z-index: 90;
	float: left;
}

.header-container{
	max-width: 920px;
	margin: 0 auto;
	display: black;
}

.header li{
	list-style: none;
}

.header::after, .header::before{
	display: table;
	content:'';
	clear:both;
}


/* ----------------------- 2.1 Menu-Nav, baseado em: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_dropdown_navbar_click */

.navbar-container {
	max-width: 920px;
	margin: 0 auto;
}

.navbar {
  margin-top: 40px;
  overflow: hidden;
  font-family: Arial;
  float: right;
}

.navbar-container::after {
	content: "";
	display: table;
	clear: both;
}

.navbar-container::after {
	content: "";
	display: table;
	clear: both;
}

.navbar a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  width: 110px;
  border-radius: 5px 5px 0 0;
}


.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 0.75em;
  border: none;
  outline: none;
  color: white;
  padding: 20px 16px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #222222;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #f9f9f9;
  width: 110px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/*---------------------------código copiado para o menu hambúrguer */

$hamburger-button-size     : 50px;
$hamburger-button-radius   : 4px;
$hamburger-bar-color       : #eeeeee;
$hamgurger-bar-width       : 32px;
$hamgurger-bar-height      : 5px;
$hamgurger-bar-spacing     : 5px;
$hamgurger-transition-speed: 0.4s;

.bt-menu {
  display: none;
  position: absolute;
  top: 49%;
  left: 25vw;
  margin: auto;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  border-radius: $hamburger-button-radius;
  width: $hamburger-button-size;
  height: $hamburger-button-size;
  transition: $hamgurger-transition-speed / 2;

  &:hover, &:focus {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  }

  &:active {
    transform: scale(0.9);
  }

  &:active, &:focus {
    outline: none;
  }

  .hamburguer {
    width: $hamgurger-bar-width;
    height: ($hamgurger-bar-height * 3) + ($hamgurger-bar-spacing * 2);
    transition: $hamgurger-transition-speed;

    &, .bar {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }

    .bar {
      width: $hamgurger-bar-width;
      height: $hamgurger-bar-height;
      background: $hamburger-bar-color;
      transition: $hamgurger-transition-speed / 2;
      outline: 1px solid transparent;
    }

    .bar-1 {
      transform: rotate(0) translate3d(0, -($hamgurger-bar-height * 2), 0);
    }
    
    .bar-3 {
      transform: rotate(0) translate3d(0, ($hamgurger-bar-height * 2), 0);
    }

    .menu-open & {
      transform: rotate(180deg);

      .bar-1 { transform: rotate(45deg) translate3d(0, 0, 0); }
      .bar-2 { opacity: 0; }
      .bar-3 { transform: rotate(-45deg) translate3d(0, 0, 0); }
    }
  }
}


/*-------------------------- Aqui termina o código copiado do drop menu */




//----------------------------- 3.0 Login


.lobo{
	display: block;
	max-width: 100px;
	margin: 30px auto;
}

#login-button{
	margin-bottom: 20px;
}

.blue-button{
	font-size: 1.4em;
  	padding: 5px 15px;
	background-color: rgba(5,5,15,0.5);
	color: #9F9EA3;
	display: block;
	margin: 10px auto;
}

#cadastro-button{
	width: 140px;
}

.blue-long-text{  /*Serve apenas para reduzir o tamanho do texto do botão pra manter a consistência*/
  font-size: 1em;
  padding: 5px 0;
	background-color: rgba(5,5,15,0.5);
	color: #9F9EA3;
}


//--------------------------------- 4.0 Cadastro

.logo1{ // logo superior esquerdo
  margin: 30px 0 20px 30px;
}

.cadastro{ // section geral do cadastro
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lobo{ // imagem a cima do cadastro
  display: block;
  max-width: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.form{ // area principal do formulario (de nome a criar usuario)
  padding: 30px 0;
}

.cadastro input{ // todos os inputs da area cadastro
  display: block;
  outline: 0;
  width: 250px;
  border: 1px solid #9F9EA3;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: #E5E5EC;
  background-color: rgba(5,5,5,0);
}

.fild input:hover{
  width: 300px;
  color: #9F9EA3;
  background-color: rgba(5,5,5,0);
  font-weight: 700;
  font-style: italic;
}

.cadastro select{ // todo select da area de cadastro
  display: block;
  outline: 0;
  width: 250px;
  border: 1px solid #9F9EA3;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: #9F9EA3;
  background-color: rgba(5,5,5,0);
  font-style: italic;
}


.botoes input{ // botao de criar usuario
  outline: 0;
  background-color: #E5E5EC;
  border: 0;
  border-radius: 10px;
  width: 250px;
  cursor: pointer;
  font-size: 1.4em;
  padding: 10px 15px;
  color: #222222;
  display: block;
  margin: 10px auto;
  font-style: normal;
}

.botoes input:focus{
  width: 250px;
  color:#222222;
  background-color: #E5E5EC;
}

.wrapper-cadastro a{ // botao de voltar da area de cadastro
  outline: 0;
  border: 0;
  border-radius: 10px;
  width: 250px;
  cursor: pointer;
  font-size: 1.5em;
  padding: 10px 15px;
  background-color: rgba(5,5,15,0.5);
  color:#9F9EA3;
  display: block;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
}

.field-avatar input[type='file']{ // botao original de selecionar imagem
  display: none;
}

.field-avatar label{ // area de selecionar imagem
  outline: 0;
  border: 0;
  border-radius: 10px;
  width: 250px;
  cursor: pointer;
  font-size: 1.5em;
  padding: 10px 15px;
  background-color: rgba(5,5,15,0.5);
  color:#9F9EA3;
  display: block;
  margin: 10px auto;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
}

.file-name{ // area de confirmacao de iamgem selecionada
  outline: 0;
  border-radius: 10px;
  width: 250px;
  height: 100%;
  font-size: 1em;
  padding: 10px 15px;
  color: #9F9EA3;
  background-color: rgba(5,5,15,0.5);
  display: block;
  margin: 10px auto;
  text-align: center;
}


//----------------------------- 5.0 Perfil

.perfil{
	width: 100%;
	max-width: 920px;
	margin: 40px auto;
}

.perfil-container{
	position: relative;
	width:100%;
	max-width: 800px;
	background-color: rgba(20,5,50,0.3);
	border-radius: 20px;
	margin: 0 auto;
}

.perfil-foto{
	margin-right: 0;
	float: left;
	margin: 30px;
}

.perfil-container::before,
.perfil-container::after{
	content: "";
	display: table;
	clear: both;
}

.perfil-foto button{
	display: block;
	margin: 10px auto;
	width: 200px;
	background-color: rgba(255,255,255,0.5);

}

.foto{
	max-width: 250px;
}

.perfil-dados {
	float: left;
	margin-left: 15%;
}

.perfil-nome::before,
.perfil-nome::after {
	content: "";
	display: table;
	clear: both;
}

.perfil-nome {
	margin: 20px auto;
	text-align: center;
}

.perfil-email {
	background-color: #eeeeee;
	color: #222222;
	margin: 10px auto;
	text-align: center;
	padding: 20px;
	border-radius: 0 15px 0 15px;
}

.perfil-email::before,
.perfil-email::after {
	content: "";
	display: table;
	clear: both;
}

.perfil-botoes a{
	text-decoration: none;
	color: #222222;
	font-family: 'Exo 2', sans-serif;
	font-weight: 400;
}

/* ------------------------ 6.0 Index Usuário */

// 3.0 Index Usuario

.index-users h1{ // "titulo" da pagina
  font-size: 3em;
  margin: 50px auto;
  text-align: center;
}

.index-users{ // area geral dos perfis
  width: 920px;
  display: block;
  margin: 0 auto;
}

.users-bar-container{ // area dos titulos das categorias
  background-color: #222222;
  color: #E5E5EC;
  width: 920px;
  font-size: 1.5em;
  display: inline-table;
  font-weight: 400;
}

.users-bar-container th{ // font dos titulos das categorias
  font-weight: 400;
}

.user-body{ // area de cada usuario
  width: 920px;
  display: inline-table;
  appearance: none;
  outline: 0;
  background-color: #E5E5EC;
  border: 0;
  padding: 10px 15px;
  color: #222222;
  border-radius: 10px;
  font-size: 1em;
  margin-top: 30px;
}

.button-new-user a{ // botao de novo usuario
  font-size: 1.4em;
  padding: 5px 15px;
  background-color: #222222;
  border-radius: 10px;
  color: #E5E5EC;
  text-decoration: none;
  float: right;
  margin-top: 30px;
}




//------------------ ignorar daqui para baixo
.perfil-mutavel{

	width: 100%;
}


.perfil-opcoes{
	width: 90%;
	margin: 30px auto;
	margin-top: 50px;
}

.projetos{
	width: 100%;
	background-color: rgba(255,255,255,0.5);
	margin: 15px 0;
	display: block;
	text-align: center;
	padding: 10px 0;
	border-radius: 0 20px;
	color: #222222;
	float: left;
}

.tarefa{
	width: 100%;
	background-color: rgba(255,255,255,0.5);
	margin: 15px 0;
	display: block;
	text-align: center;
	padding: 10px 0;
	border-radius: 0 20px;
	color: #222222;
	float: left;
}

.rendimento{
	width: 100%;
	background-color: #A85A67;
	margin: 15px 0;
	display: block;
	text-align: center;
	padding: 10px 0;
	border-radius: 0 20px;
	color: #222222;
	float: left;
}






.proj h2{
	width: 240px;
	float: left;
	margin-top: 30px;
}

.proj-and1 h3{
	width: 240px;
	float: left;
	margin-bottom: 30px;
	font-weight: 400;
}

.proj-and2 h3{
		width: 240px;
		float: left;
		font-weight: 400;
		margin-bottom: 30px;
}

.tar h2{
	width: 240px;
	float: left;
	margin-top: 30px;
}

.tar-and1 h3{
	width: 240px;
	float: left;
	margin-bottom: 30px;
	font-weight: 400;
}

.tar-and2 h3{
		width: 240px;
		float: left;
		font-weight: 400;
		margin-bottom: 30px;
}

.rend h2{
	width: 240px;
	float: left;
	margin-top: 30px;
}

.rend h4{
	padding: 20px;
	font-size: 1.4em;
}


.rend-and1 h3{
	width: 240px;
	float: left;
	font-weight: 400;
	font-size: 2em;
	padding-top: 10px;
}

.rend-and2{
	width: 240px;
	float: left;
}

.rend-and2 h3{
	font-weight: 400;
	margin-bottom: 30px;
}

.rend-and3 h3{
	width: 240px;
	float: left;
	font-weight: 400;
	font-size: 2em;
	padding-top: 10px;
}
